<app-warning></app-warning>
<app-success></app-success>
<hr>
<app-servers></app-servers>
<hr>
<app-user-name></app-user-name>
<hr>
<app-angular-directive></app-angular-directive>
<hr>
<app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
<hr>
<div class="row">
    <div class="col-xs-6">
        Even Numbers
        <app-odd *ngFor="let evenNumber of evenNumbers" [number]="evenNumber">{{oddNumber}}</app-odd>
    </div>
    <div class="col-xs-6">
        Odd Numbers
        <app-even *ngFor="let oddNumber of oddNumbers" [number]="oddNumber">{{oddNumber}}</app-even>
    </div>
</div>
<hr>        
<div>
    <p appClassToggler [className]="'greenText'">AAAA</p>
    <p appClassToggler2 className='greenText'>BBBB</p>
</div>