<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)"> -->
<form #form="ngForm" (ngSubmit)="onSubmit()">
  <small class="form-text text-muted" *ngIf="!form.valid && form.touched">Form is invalid</small>  
  <div class="form-group">
    <label>Email</label>
    <input 
      class='form-control'
      type="text" 
      name="email"
      email
      required
      ngModel
      #email="ngModel">
    <small class="form-text text-muted" *ngIf="!email.valid && email.touched">Please provide email address</small>
  </div>  
  <div class="form-group">
    <label>Subscription</label>
    <select name="subscription" class='form-control' ngModel #subscription="ngModel" [ngModel]="defaultSubscription">
      <option *ngFor="let subscription of subscriptions" value="{{subscription.key}}">{{subscription.value}}</option>
    </select>
    <small class="form-text text-muted" *ngIf="!subscription.valid && subscription.touched">Please provide subscription</small>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" name="password" class='form-control' ngModel required #password="ngModel">
    <small class="form-text text-muted" *ngIf="!password.valid && password.touched">Please provide password</small>
  </div>
  <button class="btn btn-primary">Submit</button>
  <div *ngIf="submitted">
    <p>Email: {{this.data.email}}</p>
    <p>Subscription: {{this.data.subscription}}</p>
    <p>Password: {{this.data.password}}</p>
  </div>
</form>