<div>
  <button (click)="togglePdisplay()" class="btn btn-primary">Display Details</button>
  <p *ngIf="pDisplay">
    angular-directive works!
  </p>
  <p>Clicks register</p>
  <p *ngFor="let item of clickRegister; index as i" [ngClass]="{'background':i >= 5}">
    {{item}} {{i}}
  </p>
</div>
